* {
    font-family: 'JetBrains Mono';
}

.flip_card {
    width: 70vw;
    height: 60vh;
    display: flex;
    gap: 10px;
    align-items: center;
}

.button {
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid #87F2FA;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}

.button:hover {
    background-color: #87F2FA;
    border: 1px solid black;
}

.card {
    width: 300px;
    height: 250px;
    background-color: rgb(244,244,258);
    border-radius: 50px;
    text-align: center;
    padding: 20px 5px;
    display: none;
}
@keyframes move {
    from {
      transform: translate(0, 0);
    }
    to {
      transform: translate(100px);
    }
  }

.appear {
    display: block;
    animation: move 2s infinite alternate;
}

